body {
    display: none;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    transition: background-color 0.2s ease;
}

.floating-popup {
    position: fixed;
    top: 20px;
    right: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0 15px 0 15px;
    max-width: 300px;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease;
}

.floating-popup.show {
    opacity: 1;
    transform: translateY(0);
}

.floating-popup p {
    color: #cd4246;
    font-size: 1.3vw;
    margin-top: 12px;
    margin-bottom: 12px;
}

.floating-popup {
    position: fixed;
    top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 0px 10px 0px 10px;
    max-width: 400px;
}