body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5385c3;
}

.hall-container {
    height: 60vh;
    width: 80vw;
    position: relative;
    display: flex;
    touch-action: pan-x;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #536bc3;
    padding: 18px 3px 18px 18px;
    border-radius: 30px;
    box-shadow: 9px 8px 15px 0px rgb(60 101 151);
}

.hall-container .block {
    height: 100%;
    margin-right: 15px;
    background-color: #27a938;
    flex-shrink: 0;
    font-size: 10vh;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
}

.block input {
    background-color: #97e7a1a1;
    color: #ffffff;
    font-size: 5vh;
    width: 19vh;
    height: 8vh;
}

.hall-container::-webkit-scrollbar {
    display: none;
}

#leaveAccount {
    padding: 0 15px 0 15px;
}