.player-box {
    position: absolute;
    width: 8vw;
    height: 12vw;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.player-box-select {
    animation: selectPlayerFlash 0.5s infinite alternate;
}

@keyframes selectPlayerFlash {
    100% {
        box-shadow: 0 0 9px 3px rgb(10 28 248);
    }
}

.box-account {
    position: absolute;
    right: 0.4vw;
    bottom: 0;
    font-size: 1.2vw;
    font-style: italic;
    color: white;
}

.box-leader {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5vw;
}

.box-camp {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border-radius: 8px;
    font-size: 1vw;
    padding: 0px 2px 0px 2px;
}

.box-camp-camp_blue {
    background-color: #0680f8;
}

.box-camp-camp_red {
    background-color: #f80622;
}

.box-camp-camp_grey {
    background-color: #595959;
}

.box-camp-camp_ {
    color: #bf1010db;
    background-color: rgba(225, 255, 0, 0.82);
}

.box-heroName {
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 1.8vw;
    writing-mode: vertical-lr;
}

.me-box {
    left: 1vw;
    bottom: 1vw;
    background-color: rgb(204, 49, 49);
    box-shadow: 0 0 7px 2px rgb(204, 49, 49);
}

.empty-box {
    border: 2px solid #d18383;
}

.other-box {
    background-color: #c441b4;
    box-shadow: 0 0 7px 2px #c441b4;
}

.player-intelligence {
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: wrap;
    left: 0.2vw;
    padding: 0.3vw;
    min-height: 0.7vw;
    width: 7vw;
    background-color: #0000001a;
}

.player-intelligence-top {
    bottom: 12.4vw;
}

.player-intelligence-bottom {
    top: 12.4vw;
}

.intelligence {
    width: 1.2vw;
    height: 1.2vw;
    margin: 0.1vw;
}

.my-card {
    position: absolute;
    left: 10vw;
    bottom: 1vw;
    width: 51vw;
    height: 11vw;
    background-color: #c47d41a6;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 7px 8px 13px 1px rgb(183 146 115);
}

.my-card-num {
    position: absolute;
    left: 0.4vw;
    bottom: 0.2vw;
    color: rgb(40 247 4);
    font-size: 1.5vw;
}

.card {
    width: 6vw;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 5px 5px 9px 1px rgb(73 79 89);
    background-color: #00000000;
}

.my-card-select {
    position: absolute;
    width: 6vw;
    height: 11vw;
    z-index: 888;
    box-sizing: border-box;
    border-radius: 7px;
    border: 2px dashed #00ff4eb0;
}

.card-name {
    margin-left: 3vw;
    writing-mode: vertical-lr;
    font-weight: bold;
    color: white;
    text-shadow: 2px 5px 11px #060606;
}

.card-account {
    position: absolute;
    writing-mode: vertical-rl;
    text-wrap-mode: nowrap;
    margin-left: 6.2vw;
    margin-top: 10.8vw;
    /*noinspection CssNegativeValue*/
    height: -1vw;
    width: 1px;
    translate: 0 -100%;
    font-size: 1.2vw;
    font-style: italic;
    color: #edff00;
}

.card-other-tips {
    position: absolute;
    margin-left: 4.7vw;
    margin-top: 2.1vw;
    width: 1px;
    font-size: 0.9vw;
    font-style: italic;
    color: #edff00;
}

.card-name-2 {
    font-size: 2.8vw;
    transform: translate(-50%, 25%);
}

.card-name-4 {
    font-size: 1.6vw;
    transform: translate(-50%, 20%);
}

.card-operation {
    color: #ffffff;
    position: absolute;
    font-size: 1vw;
    margin-top: 0.1vw;
    margin-left: 3.4vw;
    padding: 0vw 0.3vw 0vw 0.3vw;
    white-space: nowrap;
    z-index: 999;
}

.card-operation-ope_ {
    color: #fb0000;
    background-color: rgba(255, 255, 0, 0.57);
    border-radius: 7px;
    font-style: oblique;
}

.card-tips {
    color: #ffffff;
    position: absolute;
    font-size: 1vw;
    margin-top: 9.3vw;
    margin-left: 0.4vw;
    white-space: nowrap;
}

.card-none {
    background: linear-gradient(135deg,
    rgb(239, 48, 48) 0%, rgb(239, 48, 48) 33%,
    rgb(56, 147, 241) 33%, rgb(56, 147, 241) 66%,
    rgb(89, 89, 89) 66%, rgb(89, 89, 89) 100%
    );
}

.card-red {
    background-color: rgb(248, 22, 22);
}

.card-grey {
    background-color: #706d6d;
}

.card-blue {
    background-color: rgb(6, 128, 248);
}

.card-double {
    background: linear-gradient(135deg, rgb(239, 48, 48) 0%, rgb(239, 48, 48) 50%, rgb(56, 147, 241) 50%, rgb(56, 147, 241) 100%);
}

.room-event {
    position: absolute;
    right: 16vw;
    bottom: 16vw;
    width: 34vw;
    height: 12vw;
    background-color: rgb(219 146 146 / 51%);
    border-radius: 22px;
    padding: 0 17px 3px 17px;
    overflow-y: scroll;
    transition: all 0.3s ease;
}

.room-event.large {
    bottom: 4vh;
    width: 38vw;
    height: 90vh;
    z-index: 2000;
    background-color: rgb(213 144 144);
}

.room-event-one {
    color: #000000;
    font-size: 1vw;
    margin-top: 3px;
    margin-bottom: 4px;
    border-width: 0 0 1px 0;
    border-style: dashed;
    border-color: #b3ff4e;
}

.floating-window {
    position: absolute;
    z-index: 1999;
    background-color: #fffefe;
    border-radius: 8px;
    padding: 20px;
    width: 50vw;
    top: 40%;
    left: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    translate: -50% -50%;
    display: none;
}

.floating-open {
    display: flex;
}

.floating-window-content {
    font-size: 1.7vw;
}

.floating-window-close {
    position: absolute;
    top: 0vw;
    right: 0.6vw;
    font-size: 1.3vw;
}

.other-time-tips {
    position: absolute;
    right: -0.8vw;
    top: 1vw;
    width: 0.3vw;
    height: 10vw;
}

.my-time-tips {
    position: absolute;
    left: 16vw;
    bottom: 14.2vw;
    width: 39vw;
    height: 0.6vw;
}

.green-time-tips {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-radius: 8px;
    background-color: #27a938;
    transition: 1s ease;
}

.red-time-tips {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-radius: 8px;
    border-color: #27a938;
    box-shadow: 0 0 1px 1px #27a938;
}

.time-tips-light {
    animation: timeEndFlash 0.3s infinite alternate;
}

@keyframes timeEndFlash {
    from {
        box-shadow: 0 0 3px 3px rgba(241, 124, 124, 0.76);
    }
    to {
        box-shadow: 0 0 10px 1px rgb(255 0 0);
    }
}

.roomInfo {
    position: absolute;
    right: 1vw;
    top: 1vw;
    color: #b51c7e;
    font-size: 1.5vw;
    font-weight: bolder;
    border-radius: 5px;
}

.room-lastCard-tips {
    position: absolute;
    right: 1vw;
    top: 3.5vw;
    font-size: 1.5vw;
    color: #0500cb;
}

.operation-button-father {
    position: absolute;
    bottom: 16vw;
    left: 36vw;
    height: 3vw;
    translate: -50% 0;
    display: flex;
}

.room-statistics-button {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    left: 3vw;
    top: 2vw;
    color: #c5fbb9;
    background-color: #635fef;
    padding: 1px 9px 1px 9px;
    font-size: 2vw;
    font-weight: bolder;
    border-radius: 20px;
}

.operation-button-grey {
    font-size: 2.2vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    height: 100%;
    padding: 0px 15px 4px 15px;
    border-radius: 8px;
    color: #fffef9;
    background-color: rgb(132, 132, 135);
    text-shadow: 0px 0px 7px #060606;
    display: flex;
    align-items: center;
    pointer-events: none; /*灰色状态按钮屏蔽点击事件*/
}

.operation-button-green {
    font-size: 2.2vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    height: 100%;
    padding: 0px 15px 4px 15px;
    border-radius: 8px;
    color: #fff026;
    background-color: #2dbf33;
    text-shadow: 3px 1px 5px #7b7373;
    display: flex;
    align-items: center;
    box-shadow: 0 0 4px 0px rgb(51 185 56);
}

.operation-button-small-grey {
    font-size: 1.5vw;
    margin: 0.6vw 0.5vw 0px 0.5vw;
    height: 63%;
    padding: 0px 6px 5px 6px;
    border-radius: 8px;
    color: #fffef9;
    background-color: rgb(132, 132, 135);
    text-shadow: 0px 0px 7px #060606;
}

.room-time-tips-content {
    position: absolute;
    left: 50%;
    width: 100%;
    translate: -50% -36%;
    display: flex;
    justify-content: center;
    font-size: 1.3vw;
    color: white;
    z-index: 999;
    text-shadow: 0 0 7px #000000;
}

.intelligence-card-show {
    z-index: 999;
    position: absolute;
    height: 11vw;
    left: 1vw;
    top: 1vw;
}

.intelligence-card {
    z-index: 999;
    position: absolute;
    height: 11vw;
    left: 3vw;
    top: 1vw;
}

.intelligence-card-tips {
    z-index: 999;
    position: absolute;
    top: 0.3vw;
    font-size: 1.1vw;
    color: #f3f0f0;
    writing-mode: vertical-lr;
    text-shadow: 2px 3px 11px #ff0000;
}

.room-statistics {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    max-height: 90vh;
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: all 0.3s ease;
    font-size: 1.6vw;
}

.room-statistics table {
    width: 100%;
    border-collapse: collapse;
}

.room-statistics th, td {
    padding: 5px;
    border-bottom: 2px solid #ffefef;
    text-align: center;
}

.room-statistics th {
    background-color: #d5c7c7;
}

.room-statistics td {
    background-color: #ffefef;
}

.room-statistics .game-time {
    color: #999;
}

.room-statistics .win {
    color: #28a745;
}

.room-statistics .lose {
    color: #dc3545;
}

.room-statistics .camp_blue {
    color: white;
    background-color: #0680f8;
}

.room-statistics .camp_red {
    color: white;
    background-color: #f80622;
}

.room-statistics .camp_grey {
    color: white;
    background-color: #595959;
}

.dead {
    position: absolute;
    margin-top: -9%;
    margin-left: -7%;
    width: 116%;
    height: 112%;
    border-radius: 10px;
    background-color: #00000063;
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: #ffffffb5;
}

.other-card {
    position: absolute;
    left: 50vw;
    top: 20vw;
    translate: -50% -50%;
    background-color: #fff8f8d1;
    z-index: 1000;
}

.other-card-panel-tips {
    position: absolute;
    left: 75vw;
    top: 12.4vw;
    translate: -100% -50%;
    font-size: 1.5vw;
    color: #ffffff;
    z-index: 1001;
    text-shadow: 0 0 4px #000000;
    overflow-y: visible;
}

.other-card-button {
    position: absolute;
    right: 18vw;
    top: 20.2vw;
    width: 2.1vw;
    translate: -100% -50%;
    font-size: 1.5vw;
    z-index: 1001;
    padding: 5px 0 5px 0.6vw;
    border-radius: 8px;
    color: #fff026;
    background-color: #2dbf33;
    text-shadow: 3px 1px 5px #7b7373;
    box-shadow: 0 0 4px 0px rgb(51 185 56);
}