body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.player-box {
    position: absolute;
    width: 8vw;
    height: 12vw;
    background-color: #ebd049;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.box-account {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.5vw;
    font-style: italic;
    color: white;
}

.box-heroName {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.8vw;
    writing-mode: vertical-lr;
}

.me-box {
    left: 0;
    bottom: 0;
    background-color: rgba(196, 30, 30, 0.81);
}

.empty-box {
    background-color: rgba(93, 52, 52, 0.62);
}

.my-card {
    position: absolute;
    left: 9vw;
    bottom: 0;
    width: 51vw;
    height: 11vw;
    background-color: #ab4381;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    user-select: none;
}

.card {
    width: 6vw;
    height: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.card-name {
    margin-top: 2vw;
    writing-mode: vertical-lr;
    font-weight: bold;
    color: white;
}

.card-name-2 {
    font-size: 2.8vw;
}

.card-name-4 {
    font-size: 1.6vw;
}

.card-tips {
    color: white;
    position: absolute;
    font-size: 1.4vw;
    margin-top: -9vw;
    white-space: nowrap;
}

.card-red {
    background-color: rgb(234, 65, 65);
}

.card-grey {
    background-color: #6d4c60;
}

.card-blue {
    background-color: rgb(67, 145, 225);
}

.card-double {
    background: linear-gradient(to bottom right, rgb(255 82 82), rgb(0 119 241));
}

.room-event {
    position: absolute;
    left: 27vw;
    top: 17vw;
    width: 26vw;
    height: 15vw;
    background-color: rgb(199 136 136 / 78%);
    border-radius: 22px;
    padding: 0 17px 10px 17px;

    overflow-y: scroll;
}

.room-event-one {
    color: #9f0048;
    font-size: 1vw;
    margin-top: 7px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #b3ff4e;
}
